
.container {
    background-image: url("../../images/provideBackground.jpg");
    background-repeat: no-repeat;
    width: 100%;
}
.home_service_container{
    width: 95%;
    color: #dfdede;
    display: flex;
    justify-content: space-around;
    background-color: rgba(14, 14, 14, 0.98);
    box-shadow: 10px 10px 10px #0e0e0e;
    position: relative;
    top: -10vh;
    left: 2%;
    animation: slideUp 1.5s ease-in-out;
    border-radius: 10px;
}
.layer{
    width: 100%;
    height: 100%;
    background-color: rgba(24, 24, 24, 0.47);
}
.home_service_isNotVisible{
    width: 95%;
    color: #dfdede;
    display: flex;
    justify-content: space-around;
    background-color: black;
    box-shadow: 10px 10px 10px black;
    margin: 0 auto 0;
    opacity: 0;
}
@keyframes slideUp {
    from {
        opacity: 0;
        position: relative;
        top: 0;
        left: 2%;
    }
    to {
        opacity: 1;
        position: relative;
        top: -10vh;
        left: 2%;
    }
}
.image{
    height: 45vh;
    width: 75vh;
}

.provide_content{
    text-align: center;
    align-self: center;
    width: 40%;
    padding: 2vh;
}

.provide_content h1 {
    padding-bottom: 10vh;
    color: beige;
    font-size: 4vh;
}
.provide_content p {
    font-size: 3vh;
}



