.container {
    background-image: url("../../images/partners.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    margin-top: -1vh;
}
.home_service_container{
    width: 95%;
    color: #dfdede;
    display: flex;
    justify-content: space-around;
    background-color: rgba(14, 14, 14, 0.90);
    box-shadow: 10px 10px 10px #0e0e0e;
    position: relative;
    top: 1vh;
    left: 2%;
    animation: slideUp 1.5s ease-in-out;
}
.layer{
    width: 100%;
    height: 100%;
    background-color: rgba(24, 24, 24, 0.20);
}
.home_service_isNotVisible{
    width: 95%;
    color: #dfdede;
    display: flex;
    justify-content: space-around;
    background-color: black;
    box-shadow: 10px 10px 10px black;
    margin: 0 auto 0;
    opacity: 0;
}
@keyframes slideUp {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
.image{
    height: 45vh;
    width: 75vh;
}

.provide_content{
    text-align: center;
    align-self: center;
    width: 40%;
    padding: 2vh;
}

.provide_content h1 {
    padding-bottom: 10vh;
    color: beige;
    font-size: 4vh;
}
.provide_content p {
    font-size: 3vh;
}
.show_more_less{
    display: none;        
}

@media (max-width: 500px) {
    .image{
        display: none;
    }
    .provide_content{
        text-align: center;
        align-self: center;
        width: 100%;
        padding: 2vh;
    }
    .provide_content_inner{
        display: none;
    }
    .provide_content_inner_show{
        display: block;
    }
    .show_more_less{
        display: block; 
        color: white;
        text-decoration: underline;       
    }
    
}
