

.container{
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    box-shadow: 0 8px 8px -4px rgba(0, 0, 0, 0.8);
    animation: slideDown 1s ease-in-out;
}
@keyframes slideDown {
    from {
        transform: translateY(-100%);
        opacity: 0;
    }
    to {
        transform: translateY(0);
        opacity: 1;
    }
}
.container_not_fixed{
    position: fixed;
    z-index: 1;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    box-shadow: 0 8px 8px -4px rgba(0, 0, 0, 0.8);
}

.header_container{
    display: flex;
    justify-content: space-between;
    padding: 10px 30px;
}
.links{
    font-size: 3.5vh;
    font-weight: 500;
    padding: 10px 0;
    display: flex;
    justify-content: space-around;
    text-decoration: none;
    align-self: center;
}
.menu_item{
    color: grey;
    text-decoration: none;
    padding: 0 15px;
    &:hover {
        color: #ffffff;
    }
}

.active {
    color: #ffffff;
    text-decoration: none;
    padding: 0 15px;
    &:hover {
        color: #ffffff;
    }
}

.set_locale_selector{
    background-color: transparent;
    border: none;
    outline: none;
    color: #ffffff;
    font-size: 3vh;
}
.set_locale_selector option {
    background-color: black;
}
.links_hide{
    font-size: 3.5vh;
    font-weight: 500;
    padding: 10px 0;
    display: flex;
    justify-content: space-around;
    text-decoration: none;
    align-self: center;
    flex-direction: column;
    display: none;
}
.menu_hide{
    display: none;
}

@media (max-width: 500px) {
    .links{
        font-size: 3.5vh;
        font-weight: 500;
        padding: 10px 0;
        display: flex;
        justify-content: space-around;
        text-decoration: none;
        align-self: center;
        flex-direction: column;
    }
    .links_hide{
        font-size: 3.5vh;
        font-weight: 500;
        padding: 10px 0;
        display: flex;
        justify-content: space-around;
        text-decoration: none;
        align-self: center;
        flex-direction: column;
        display: none;
    }
    .container{
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        background-color: rgba(0, 0, 0, 0.8);
        box-shadow: 0 8px 8px -4px rgba(0, 0, 0, 0.8);
    }
    .container_not_fixed{
        position: absolute;
        width: 100%;
        background-color: rgba(0, 0, 0, 0.8);
        box-shadow: 0 8px 8px -4px rgba(0, 0, 0, 0.8);
    }    
    .menu{
        position: absolute;
        top: 2vh;
        right: 2vw;
    }

    .set_locale_selector{
        background-color: transparent;
        border: none;
        outline: none;
        color: #ffffff;
        font-size: 3vh;
        width: 68px;
        margin-left: 13px;
    }
    .set_locale_selector option {
        background-color: black;
        width: 68px;
        font-size: 10px;
    }
}
